/**
 * Created by Arie M. Prasetyo on 2020-01-19
 */

 .Donut {
	display: inline-block;
	margin: 0 4px;
	position: relative;
}

.Donut > .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 35%;
	text-align: center;
	font-size: 0.8em;
}