* {
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

/* Color theme: Fashion (Michelle Watt) */
:root {
	--main-bg: #FEFEFE;
	--main-fg: #333333;
	--primary-accent: rgba(0, 20, 38, 1);
	--alt-primary-accent: rgba(2, 82, 114, 1);
	--secondary-accent: rgba(191, 155, 110, 1);
	--alt-secondary-accent: rgba(191, 179, 164, 1);
	--tertiary-accent: rgba(140, 98, 61, 1);
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
	background-color: var(--main-bg);
	color: var(--main-fg);
}

/* RESET STYLING */
body, p, h1, h2, div, span, ul {
	margin: 0;
	padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

button {
	border: none;
	margin: 0;
	padding: 0;
}

#root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}